html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

html {
  height: 100%;
  font-size: 62.5%;
  /*10 ÷ 16 × 100% = 62.5%*/
  font-family: "微軟正黑體","蘋果儷中黑","新細明體",Arial,sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 1.2em;
  font-size: 1.2rem;
  -webkit-text-size-adjust: none;
}

ol, ul {
  list-style: none outside none;
}

.clearfix:after {
  clear: both;
  content: "";
  display: block;
  height: 0;
  visibility: hidden;
}

input[type="text"] {
  background: #fff;
  border: 1px solid #aaa;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 1.5rem;
  height: 3rem;
  line-height: 1.5rem;
  margin: 0 10px;
  outline: none;
  padding: 5px 10px;
  resize: none;
  width: 160px;
}
input[type="text"][required]:focus {
  border-color: #00bafa;
}
input[type="text"][required]:focus + label[placeholder]:before {
  color: #00bafa;
}
input[type="text"]:focus + label[placeholder]:before, input[type="text"]:valid + label[placeholder]:before {
  transition-duration: .2s;
  transform: translate(-4px, -15px) scale(0.9, 0.9);
}
input[type="text"]:invalid + label[placeholder][alt]:before {
  content: attr(alt);
}
input[type="text"] + label[placeholder] {
  display: block;
  font-size: 1.5rem;
  pointer-events: none;
  line-height: 1.5rem;
  margin-top: -2.3rem;
}
input[type="text"] + label[placeholder]:before {
  content: attr(placeholder);
  display: inline-block;
  margin: 0 24px;
  padding: 0 2px;
  color: #898989;
  white-space: nowrap;
  transition: .3s ease-in-out;
  background-image: linear-gradient(to bottom, #ffffff, #ffffff);
  background-size: 100% 5px;
  background-repeat: no-repeat;
  background-position: center;
}

em {
  display: inline;
  color: #f00;
}

label.error {
  background: url("../images/unchecked.gif") no-repeat 0px 0px;
  padding-left: 16px;
}

label.success {
  background: url("../images/checked.gif") no-repeat 0px 0px;
  padding-left: 16px;
}
