// ---------------------------------------------------------------------------
// Imports
@import "compass/reset";
@import "compass/css3";
@import "compass/utilities";
@import "compass/utilities/general/hacks";
// ---------------------------------------------------------------------------
// Basic Style
// 畫面置中/字體/型設定
html {height: 100%;font-size:62.5%;/*10 ÷ 16 × 100% = 62.5%*/font-family:"微軟正黑體","蘋果儷中黑","新細明體",Arial,sans-serif;}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size:1.2em;
  font-size:1.2rem;
  -webkit-text-size-adjust:none;
}
// End 畫面置中/字體/型設定
ol, ul {list-style: none outside none;}
.clearfix:after {
  clear: both;
  content: "";
  display: block;
  height: 0;
  visibility: hidden;
}
