@import "base";

$border:1px;
$height:1.2rem;
$margin:1.2rem;
$radius:.5rem;

input[type="text"] {
  background: #fff;
  border: 1px solid #aaa;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 1.5rem;
  height: 3rem;
  line-height: 1.5rem;
  margin: 0 10px;
  outline: none;
  padding: 5px 10px;
  resize: none; 
  width: 160px;

	&[required] {
		&:focus {
			border-color: #00bafa;
			+ label {
				&[placeholder] {
				  &:before {
            color: #00bafa;
          }
				}
			}
		}
	}

  &:focus,
  &:valid{
    + label {
    	&[placeholder]{
    		&:before {
    			transition-duration: .2s;
		      transform: translate(-4px, -15px) scale(.9, .9);
    		}
    	}
    }
  }

  &:invalid {
    + label {
      &[placeholder]{
    	  &[alt] {
    			&:before {
	          content: attr(alt);
          }
    		}
    	}
    }
  }
  + label {
    &[placeholder]{
    	display: block;
      font-size: 1.5rem;
    	pointer-events: none;
    	line-height: 1.5rem;
    	margin-top:-2.3rem;
	      &:before {
	        content: attr(placeholder);
	        display: inline-block;
	        margin: 0 24px;
	        padding: 0 2px;
	        color: #898989;
	        white-space: nowrap;
          transition: .3s ease-in-out;
		      background-image: linear-gradient(to bottom, #fff, #fff);
          background-size: 100% 5px;
          background-repeat: no-repeat;
          background-position: center;
	        }
    	}
    }
}


em{
  display:inline;
  color:#f00;
}

label.error {
  background:url("../images/unchecked.gif") no-repeat 0px 0px;
    padding-left: 16px;
}

label.success {
  background:url("../images/checked.gif") no-repeat 0px 0px;
  padding-left: 16px;
}